.bgindex {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 0, 0, 0.2)), to(black)), url(../../asset/image/bg_index.jpg);
  background: linear-gradient(rgba(255, 0, 0, 0.2), black), url(../../asset/image/bg_index.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.layout {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "main" "footer";
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.layout .header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

.layout .main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
}

.layout .footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  background-color: black;
}

.scrolled {
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.logo {
  max-width: 100%;
}

@media (min-width: 1081px) {
  .background {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 23, 75, 0.8)), to(rgba(0, 0, 0, 0.5))), url(../../asset/image/bgCustomer.jpg);
    background: linear-gradient(rgba(0, 23, 75, 0.8), rgba(0, 0, 0, 0.5)), url(../../asset/image/bgCustomer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 850px;
  }
}

@media (max-width: 1080px) {
  .background {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 23, 75, 0.8)), to(rgba(0, 0, 0, 0.5))), url(../../asset/image/bg_sm.jpg);
    background: linear-gradient(rgba(0, 23, 75, 0.8), rgba(0, 0, 0, 0.5)), url(../../asset/image/bg_sm.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 850px;
  }
}

@media (max-width: 1300px) {
  .boxCustom {
    display: none;
  }
}

.containerAdmin {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.headerAdmin {
  background: -webkit-gradient(linear, left top, right top, from(#acb6e5), to(#74ebd5));
  background: linear-gradient(to right, #acb6e5, #74ebd5);
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #1e2939;
  /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

.loaderPosition {
  width: 100%;
  text-align: center;
}

.testtableHead {
  width: 100%;
  text-align: center;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media (max-width: 640px) {
  .tabHeader-admin {
    font-size: 12px;
    width: 80px;
  }
}
/*# sourceMappingURL=style.css.map */